.App {
  text-align: center;
}
.App-header {
  position: fixed;
  background-color: var(--white);
  width: 100%;
  top: 0;
}

.App-header > h1 {
  color: var(--primary);
}

main {
  margin-top: 80px;
}