:root {
  /* COLORS */
  --primary: #507CE2;
  --secondary: #F2A13E;
  --tetriary: #FEFAF3;
  --lightBlue: #EBF2FC;
  --blue: #C7D6F6;

  --white: #FFFFFF;
  --black: #031443;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
